<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Низкокачественная вечеринка</title>
    <link rel="icon" href="favicons/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" sizes="180x180" href="favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicons/favicon-16x16.png">
    <link rel="manifest" href="favicons/site.webmanifest">
    <script src="vendor/jquery.js"></script>
    <script src="vendor/axios.js"></script>
    <script src="vendor/inputmask-jquery.js"></script>
    <script src="vendor/knockout.js"></script>
    <script src="vendor/knockout-es5.js"></script>
    <script src="vendor/knockout-validation.js"></script>
    <script src="vendor/knockout-validation-ru.js"></script>

    <script src="vendor/swiper/swiper.js"></script>
    <link rel="stylesheet" href="vendor/swiper/swiper.css">

    <link rel="stylesheet" href="styles/main.css">
    <link rel="stylesheet" href="styles/components.css">
</head>
<body class="app-body" data-bind="css: {'is-app-inited': $root.isAppInited}">
    <template id="lqp-popup">
        <!-- ko let: {$popupCmp: $component, $popupChildren: $componentTemplateNodes} -->
        <div class="popup-overlay" data-bind="visible: $popupCmp.popup.isShown">
            <div class="popup-overlay-header"></div>
            <div class="popup-body" data-bind="style: {background: $popupCmp.popup.background}">
                <div class="popup-content">
                    <h2 class="popup-content__title" data-bind="text: $popupCmp.popup.title"></h2>
                    <div class="popup-content__children">
                        <!-- ko template: { nodes: $popupChildren } -->
                        <!-- /ko -->
                    </div>
                    <!-- ko if: $popupCmp.popup.onButtonClick -->
                        <div class="popup-content__actions">
                            <button class="button" data-bind="click: $popupCmp.popup.onButtonClick">
                                <span data-bind="text: $popupCmp.popup.buttonText"></span>
                            </button>
                        </div>
                    <!-- /ko -->
                </div>
            </div>
        </div>
        <!-- /ko -->
    </template>

    <template id="lqp-popup-with-input">
        <!-- ko let: {$popupWithInputCmp: $component, $popupWithInputChildren: $componentTemplateNodes} -->
        <lqp-popup params="
            isShown: $popupWithInputCmp.popup.isShown,
            title: $popupWithInputCmp.popup.title,
            buttonText: $popupWithInputCmp.popup.buttonText,
            background: $popupWithInputCmp.popup.background,
            onButtonClick: $popupWithInputCmp.popup.onButtonClick
        ">
            <!-- ko template: { nodes: $popupWithInputChildren } -->
            <!-- /ko -->
            <form class="popup-with-input__form" data-bind="
                submit: $popupWithInputCmp.onSubmit
            ">
                <input name="value" class="input" data-bind="
                    inputmask: {
                        value: $popupWithInputCmp.input.value,
                        mask: $popupWithInputCmp.inputMask
                    }
                ">
                <div class="popup-with-input__error-message" data-bind="
                    validationMessage: $popupWithInputCmp.input.value
                "></div>
                <div class="popup-with-input__error-message" data-bind="
                    visible: $popupWithInputCmp.errorMessage,
                    text: $popupWithInputCmp.errorMessage
                "></div>
                <button class="button" type="submit">
                    <span data-bind="text: $popupWithInputCmp.popup.buttonText"></span>
                </button>
            </form>
        </lqp-popup>
        <!-- /ko -->
    </template>

    <lqp-popup-with-input params="
        isShown: $root.loginPopup.isShown,
        errorMessage: $root.loginPopup.errorMessage,
        onSubmit: handleLoginPopupSubmit,
        title: 'Войдите в свой АККАУНТ',
        buttonText: 'ВО ЙТИ',
        inputMask: 'AA-AA-AA-AA',
    ">
        Войди ну поожалуйста спасибо до свидания
    </lqp-popup-with-input>

    <lqp-popup-with-input params="
        isShown: $root.changeNamePopup.isShown,
        onSubmit: handleNamePopupSubmit,
        title: 'Настало времмя поменять имя!',
        buttonText: 'ПО МЕНЯТЬ',
        background: '#dbffe6',
        inputMask: ''
    ">
        Ну поменяй имя ну
    </lqp-popup-with-input>


    <main class="main">
        <div class="body-bg"></div>
        <!-- ko if: $root.user -->
        <div class="header">
            <h2 class="display-id" data-bind="text: $root.user.displayId"></h2>
            <h1 class="display-name" data-bind="text: $root.user.displayName"></h1>
            <hr>
            <div class="amount-display">
                <span class="amount-display__current" data-bind="text: $root.currentBalance"></span>
            </div>
        </div>
        <!-- /ko -->

        <div class="swiper-container" data-bind="css: {
            'lootbox-in-progress': $root.currentProcessLootbox
        }">
            <div class="swiper-wrapper" data-bind="foreach: $root.lootboxes">
                <div class="swiper-slide">
                    <div class="lootbox-wrapper">
                        <div class="lootbox" role="button" data-bind="
                            click: getLootboxClickHandler($data),
                            class: 'lootbox--' + $data.mod,
                            css: {
                                'lootbox--shake': isLootboxInShakeState($data.level),
                                'lootbox--finished': isLootboxInFinishedState($data.level)
                            }
                        ">
                            <div class="box">
                                <div class="upper"></div>
                                <div class="lower">
                                    <span class="const" data-bind="text: $data.const"></span>
                                    <span class="finish-text">Подойдите к&nbsp;дилеру</span>
                                </div>
                                <div class="latch"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-button-prev"></div>
            <div class="swiper-button-next"></div>
        </div>
    </main>

    <script src="js/components.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
