.transactions {
    margin-top: 20px;
}

.td-right {
    text-align: right;
}

.td-left {
    text-align: left;
}

.table {
    border-spacing: 10px;
    border-collapse: separate;
}

.mark-button {
    background: red;
    color: white;
}
