body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

.app-body {
    opacity: 0;
    transition: opacity 1s;
}

.app-body.is-app-inited {
    opacity: 1;
}

.body-bg {
    background-image: url('/images/pattern.png');
    background-size: 200px;
    z-index: -1;
    opacity: 0.1;
}

.body-bg,
.body-bg__overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.main {
    display: flex;
    flex-direction: column;
    position: relative;
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto;
}

.header {
    background: #C2185B;
    color: white;
    padding: 25px 10px 20px;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.1);
}

.display-id {
    margin: 0;
    font-size: 1em;
    font-style: italic;
}

.display-name {
    margin: 0;
    margin-bottom: 15px;
    font-size: 3.2em;
    line-height: 1;
}

.amount-display {
    margin-top: 15px;
}

.amount-display__current {
    font-size: 4em;
    color: white;
    font-weight: bold;

    text-transform: uppercase;
    background: linear-gradient(
            to right,
            #ffffff 20%,
            #ff5ecf 50%,
            #5bdaff 80%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 400% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-clip 9s linear infinite;
    display: inline-block;
}

@keyframes text-clip {
    to {
        background-position: -400% center;
    }
}

.lootbox-wrapper {
    flex-grow: 1;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.lootbox {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-tap-highlight-color: transparent;
    transition: transform 0.3s;
    cursor: pointer;
}
.lootbox .box {
    width: 200px;
    height: 200px;
    display: flex;
    position: relative;
    flex-direction: column;
    cursor: pointer;
    transition: transform 0.7s;
}

.lootbox--disabled {
    pointer-events: none;
    opacity: 0.5;
}

.lootbox--shake .box {
    -webkit-animation: shake 1s cubic-bezier(0.3, 0.06, 0.2, 0.9) infinite;
    animation: shake 1s cubic-bezier(0.3, 0.06, 0.2, 0.9) infinite;
}

.lootbox--finished {
    transform: translateY(10px);
}

.lootbox--finished .upper {
    transform-origin: left bottom;
    transform: translateY(-20px) rotate(-5deg);
}

.lootbox--finished .lower {
    /*transform: translateY(15px);*/
}

.lootbox .lower {
    position: relative;
    text-align: center;
    text-transform: uppercase;
}

.lootbox .cost,
.lootbox .finish-text {
    position: relative;
    top: 25px;
    font-size: 1.2em;
    color: white;
    transition: opacity 1s;
}

.lootbox .cost {
    font-size: 3em;
    opacity: 0;
    display: none;
}

.lootbox--initial .cost {
    display: inline-block;
    opacity: 1;
}

.lootbox .finish-text {
    display: none;
    opacity: 0;
    z-index: 1;
}

.lootbox--finished .finish-text {
    display: inline-block;
    opacity: 1;
}

.lootbox .box .upper {
    border: 1px solid black;
    border-bottom: 1px solid transparent;
    width: 100%;
    flex: 1;
    background-color: #fdfdfd;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 10px solid #585757;
}
.lootbox .box .lower {
    width: 100%;
    flex: 1;
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.lootbox .box .latch {
    position: absolute;
    width: 10%;
    height: 15%;
    background-color: #585757;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -10%);
    transform: translate(-50%, -10%);
}

@-webkit-keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, -1px, 0) rotate(5deg);
        transform: translate3d(-1px, -1px, 0) rotate(5deg);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, -4px, 0) rotate(-2deg);
        transform: translate3d(2px, -4px, 0) rotate(-2deg);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, -1px, 0) rotate(3deg);
        transform: translate3d(-4px, -1px, 0) rotate(3deg);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 2px, 0) rotate(-4deg);
        transform: translate3d(4px, 2px, 0) rotate(-4deg);
    }
}

@keyframes shake {
    10%, 90% {
        -webkit-transform: translate3d(-1px, -1px, 0) rotate(5deg);
        transform: translate3d(-1px, -1px, 0) rotate(5deg);
    }
    20%, 80% {
        -webkit-transform: translate3d(2px, -4px, 0) rotate(-2deg);
        transform: translate3d(2px, -4px, 0) rotate(-2deg);
    }
    30%, 50%, 70% {
        -webkit-transform: translate3d(-4px, -1px, 0) rotate(3deg);
        transform: translate3d(-4px, -1px, 0) rotate(3deg);
    }
    40%, 60% {
        -webkit-transform: translate3d(4px, 2px, 0) rotate(-4deg);
        transform: translate3d(4px, 2px, 0) rotate(-4deg);
    }
}

.lootbox--level-two .box .lower {
    background-color: red;
}

.lootbox--level-three .box .lower {
    background-color: black;
}

.swiper-container {
    width: 100%;
    margin-top: 50px;
    overflow: visible;
}

.lootbox-in-progress {
    pointer-events: none;
}

.swiper-button-prev,
.swiper-button-next {
    transition: opacity 1s;
}

.lootbox-in-progress .swiper-button-prev,
.lootbox-in-progress .swiper-button-next {
    opacity: 0;
}
