body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    padding: 0;
    margin: 0;
}

body * {
    box-sizing: border-box;
}

body {
    opacity: 0;
    transition: opacity 1s;
}

body.is-app-inited {
    opacity: 1;
}

.body-bg {
    background-image: url('/images/pattern.png');
    background-size: 200px;
    z-index: -1;
    opacity: 0.1;
}

.body-bg,
.body-bg__overlay
{
    width: 100%;
    height: 100%;
    position: absolute;
}

.main {
    position: relative;
    max-width: 500px;
    min-height: 100vh;
    margin: 0 auto;
}

.header {
    background: #C2185B;
    color: white;
    padding: 25px 10px 75px;
    box-shadow: 0 10px 5px 0 rgba(0, 0, 0, 0.1);
}

.display-id {
    margin: 0;
    font-size: 1em;
    font-style: italic;
}

.display-name {
    margin: 0;
    font-size: 3.2em;
    line-height: 1;
}

.amount-block {
    margin-top: -50px;
    display: flex;
    justify-content: center;
}

.amount-display {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: #FFC107;
    box-shadow: 0 0 0 1px rgba(255, 193, 7, 0.2);
    animation: amount-animation 1.5s linear infinite;
}

@keyframes amount-animation {
    50% {
        box-shadow: 0 0 0 20px rgba(255, 193, 7, 0.2);
    }
    100% {
        box-shadow: 0 0 0 20px rgba(255, 193, 7, 0.05);
    }
}

.amount-display__current {
    font-size: 4em;
    color: white;
    font-weight: bold;

    text-transform: uppercase;
    background: linear-gradient(
            to right,
            #ffffff 20%,
            #ff5ecf 50%,
            #5bdaff 80%
    );
    background-size: auto auto;
    background-clip: border-box;
    background-size: 400% auto;
    background-clip: text;
    text-fill-color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: text-clip 9s linear infinite;
    display: inline-block;
}

@keyframes text-clip {
    to {
        background-position: -400% center;
    }
}
